<!DOCTYPE html>
<html lang="en">
<body>

    <!-- Write EJS code here to display shortened links -->

    <h2>Link you typed in</h2>
    <a href =<%= templateVars %>><%= templateVars %></a>

</body>
</html>
